- attributes("title") = "CingleVue Coding Challenge"

.page-header.row
  h1= "CingleVue - SchoolVue App."
  p.lead
    |Filter the schools by selecting a subject from the dropdown.
.row
  #breadcrumb.breadcrumb
    #nav-search
      |Filter: 
      span.dropdown>
        a.btn.btn-small.btn-info.dropdown-toggle(data-toggle="dropdown" href="#" name="filterSelect" ng-model="subject")
          | {{subject | subjectFilter}}
          b.icon-caret-down
        ul.dropdown-menu(role="menu" name="filterSelect")
          li(ng-repeat="subject in subjects")
            a(href="" ng-click="setSubject(subject.name)") {{subject.name}}
.row
  .span12
  table.table.table-bordered.table-striped
    thead
      tr
        th
          span.text-center() School Name
        th
          span.text-center() 2008
        th
          span.text-center() 2009
        th
          span.text-center() 2010
        th
          span.text-center() 2011
        th
          span.text-center() 2012
    tbody
      tr(ng-repeat="school in schools")
        td
          | {{school.name}}
        td
          span
            | {{school.subjects[0].results['2008']}}
        td
          span
            | {{school.subjects[0].results['2009']}}
        td
          span
            | {{school.subjects[0].results['2010']}}
        td
          span
            | {{school.subjects[0].results['2011']}}
        td
          span
            | {{school.subjects[0].results['2012']}}
